<div class="header">
    <div class="btn-block" style="width: 70%">
        <a class="menu-btn" href="">
            <div id="main-page-btn" class="{% if active_page == 'index' %} active-page {% endif %}" style="margin-left: 50px">Главная</div>
        </a>
{#        {% if is_auth %}#}
        <a class="menu-btn" href="">
            <div id="articles-page-btn" class="{% if active_page == 'posts' %} active-page {% endif %}">Статьи</div>
        </a>
        <a class="menu-btn" href="">
            <div id="practice-page-btn" class="">Практика</div>
        </a>
{#        {% endif %}#}
    </div>
    <div class="btn-block" style="width: 30%">
{#        {% if is_auth %}#}
        <div class="menu-btn btn-border" style="cursor:default">{{ firstname }} {{ surname }}</div>
{#        {% else %}#}
        <a class="menu-btn btn-border" href="">
            <div id="reg-btn">Регистрация</div>
        </a>
{#        {% endif %}#}
{#        {% if is_auth %}#}
        <a class="menu-btn" href="">
            <div id="log-out-btn">Выход</div>
        </a>
{#        {% else %}#}
        <a class="menu-btn" href="">
            <div id="log-in-btn">Вход</div>
        </a>
{#        {% endif %}#}
    </div>
</div>