<div class="header">
    <div id="backdrop" class="backdrop"></div>
    <div class="btn-block nav" id="nav" style="width: 70%">
        <a class="menu-btn" href="{{ url_for('index') }}">
            <div id="main-page-btn" class="{% if active_page == 'index' %} active-page {% endif %}">Главная</div>
        </a>
        {% if current_user.is_authenticated %}
        <a class="menu-btn" href="{{ url_for('posts') }}">
            <div id="articles-page-btn" class="{% if active_page == 'posts' %} active-page {% endif %}">Статьи</div>
        </a>
        <a class="menu-btn" href="{{ url_for('practice') }}">
            <div id="practice-page-btn" class="{% if active_page in 'practice,upload_file,train_model,use_model' %} active-page {% endif %}">Практика</div>
        </a>
        {% endif %}
         <a class="menu-btn btn-close" id="btn-close">
             <img src="{{ url_for('static', filename='images/close.svg') }}"/>
         </a>
    </div>

    <a class="menu-btn burger" id="burger">
        <img src="{{ url_for('static', filename='images/burger.svg') }}"/>
    </a>
    <div class="btn-block" style="width: 30%">
        {% if current_user.is_authenticated %}
        <div class="menu-btn btn-border" style="cursor:default">{{ user.firstname }} {{ user.lastname }}</div>
        {% else %}
        <a class="menu-btn btn-border" href="{{ url_for('register') }}">
            <div id="reg-btn">Регистрация</div>
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a class="menu-btn" href="{{ url_for('logout') }}">
            <div id="log-out-btn">Выход</div>
        </a>
        {% else %}
        <a class="menu-btn" href="{{ url_for('login') }}">
            <div id="log-in-btn">Вход</div>
        </a>
        {% endif %}
    </div>
</div>