# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.mypy_cache

# Distribution / packaging
dist/
venv/
eggs/
.eggs/
*.egg-info/
*.egg

# DotEnv configuration
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Mac OS-specific storage files
.DS_Store

#service dirs
logs/*

!.gitkeep