{% extends "base.html" %}
{% block content %}
    <div class="index-page">
        <div><h2 id="main-page-title">Приветствие</h2></div>
        <div id="main-page-content" style="text-align: justify">Вы находитесь на главной странице тематического блога, посвященного выпускной квалификационной работе на тему "Применение возможностей машинного обучения в здравоохранении". Для получения доступа к контенту сайта необходимо зарегистрироваться или автризоваться, если регистрация уже была пройдена.</div>
    </div>
{% endblock content%}