html, body {
    height: 100%;
}

body {
    margin: 0;
    outline: none;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}

.main {
    position: fixed;
    top: 70px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    height: 70px;
    border-bottom: 1px solid rgb(183, 188, 223);
    background: #B7BCDF;
    z-index: 1000;
}

a {
    outline: none;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #666591; /* Изменяет цвет ссылок в навигации при наведении курсора */
}

.index-page, .practice-page {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.index-background {
    height: 100%;
    background-size: contain;
    margin: 50px 0px 0px
}

.btn-block {
    display: flex;
}

.menu-btn {
    margin: 12px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #FFFFFF;
}

.active-page {
    height: 45px;
    border-bottom: 4px solid rgb(102, 101, 145);
}

.btn-border {
    border: 1px solid rgb(170, 175, 208);
    background-color: rgb(170, 175, 208);
    border-radius: 10px;
}

.content {
    position: relative;
    margin-bottom: 120px;
    overflow: auto;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid rgb(95, 177, 191);
    background: #B7BCDF;
    z-index: 1000;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
}

input, textarea, select {
    width: 96%;
    padding: 0px 5px 0px;
    outline: none;
    background: transparent;
    border: 1px solid gainsboro;
    margin-top: 10px;
}

input {
    height: 42px;
}

textarea {
    padding: 5px;
    resize: none;
    overflow: auto;
}

select {
    width: 120px;
    height: 30px;
}

.modal-container {
    margin: auto;
    width: 300px;
    padding: 10px 30px 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.form-btn {
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}

.err-block {
    width: 98%;
    margin-top: 8px;
    padding: 3px;
    background: bisque;
    text-align: center;
}

.err-msg {
    display: inline-block;
    color: firebrick;
    font-size: 11px;
}

.ta-c {
    text-align: center;
}

.posts-block {
    margin: auto;
    width: 70%;
    padding: 20px;
}

.link-btn {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.post-info {
    display: flex;
    justify-content: space-between;
}

.add-post-btn-block {
    position: fixed;
    width: 100%;
    bottom: 60px;
    text-align: center;
}

.add-post-btn, .use-button {
    margin: auto;
    bottom: 40px;
    padding: 5px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
    background: #fff;
}

.pre-view {
    text-overflow: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
    white-space: nowrap;
}

.post-body {
    margin-bottom: 15px;
    text-align: justify;
}

.input-file {
    display: flex;
    align-items: end;
}

.input-file div:first-child > input {
    border: 0px;
    border-bottom: 1px solid gainsboro;
    padding: 0px;
}

.input-file div:first-child {
    width: 50%;
}

.input-file span:last-child {
    width: 96%;
    border-bottom: 1px solid gainsboro;
    display: block;
}

.input-file div:nth-child(2) {
    width: 20%;
}

.use-button-block {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.title-lbl {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    border-bottom: 1px solid gainsboro;
}

.mt-50 {
    margin-top: 50px;
}

.burger {
  display: none;
}

.burger_open {
  display: block;
}
.nav {
  display: flex;
  gap: 16px;
}

.nav_open {
  position: absolute;

  top: 10vh;
  left:50%;
    transform:translate(-50%, 0%);

  padding: 20px;
  background: #fff;

  flex-direction: column;
  gap: 32px;
}

.backdrop {
  display: none;
}

.backdrop_open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.5);
}

.btn-close {
  display: none;
    position: absolute;


    top:10px;
    right:10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .btn-close {
    display: block;
  }
  .nav_open {
    display: flex;
  }
  .backdrop_open {
    display: block;
  }

  .burger {
    display: block;
  }

  .burger img {
      height: 40px;
      width: 40px;
      color: #FFFFFF;
  }

  .backdrop {
    display: block;
  }
  .nav_open .menu-btn{
      color: #000000;
  }
  .
}
