<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'images/logo.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
{#    {% include "modal/register.html" %}#}
{#    {% include "modal/login.html" %}#}
    <div class="main">
        {% include "components/header.html" %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        {% include "components/footer.html" %}
    </div>
</body>
</html>
