{% extends 'base.html' %}

{% block content %}
<div class="posts-block">
    <h3>Редактировать статью:</h3>
    <form method="post" action="{{ url_for('edit_posts',id=post.id) }}" novalidate>
        {{ form.hidden_tag() }}
            {% for field in form if field.name not in ['csrf_token', 'submit'] %}
                {% set column = field.name %}
                {{ field(placeholder=field.label.text, value=post.column) }}
                {% for err in field.errors %}
                    <span class="err-msg">{{ err }}</span>
                {% endfor %}
            {% endfor %}
            {% with messages = get_flashed_messages(category_filter='error') %}
                {% for message in messages %}
                    <span class="err-block err-msg">{{ message }}</span>
                {% endfor %}
            {% endwith %}
            {{ form.submit(class="form-btn", value="Сохранить изменения") }}
    </form>
</div>
{% endblock content %}