{% extends 'base.html' %}

{% block content %}
<div class="posts-block">
    <h3>Редактировать статью:</h3>
    <form action="{% url 'edit-post' post.id %}" method='post'>
        {% csrf_token %}
        <div>
            <input type="text" name="title" placeholder="Название" value="{{ post.title }}">
            {% for err in errors.title %}
            <span class="err-msg">{{ err.message }}</span>
            {% endfor %}
        </div>
        <div>
            <textarea rows="10" name="body" placeholder="Текст">{{ post.body }}</textarea>
            {% for err in errors.body %}
            <span class="err-msg">{{ err.message }}</span>
            {% endfor %}
        </div>
        <div>
            <input type="submit" class="form-btn" value="Сохранить изменения" style="width:200px">
        </div>
    <form action="" method='post'>
        <form method="post" novalidate>
        {{ form.hidden_tag() }}
            {% for field in form if field.name not in ['csrf_token', 'submit'] %}
                {{ field(placeholder=field.label.text) }}
                {% for err in field.errors %}
                    <span class="err-msg">{{ err }}</span>
                {% endfor %}
            {% endfor %}
            {% with messages = get_flashed_messages(category_filter='error') %}
                {% for message in messages %}
                    <span class="err-block err-msg">{{ message }}</span>
                {% endfor %}
            {% endwith %}
            {{ form.submit(class="form-btn") }}
    </form>
    </form>
</div>
{% endblock content %}