{% extends "base.html" %}

{% block content %}
    <div class="index-page">
        <div><h2 id="main-page-title">Приветствие</h2></div>
        <div id="main-page-content" style="text-align: justify">Вы находитесь на главной странице тематического блога, посвященного выпускной квалификационной работе на тему "Применение возможностей машинного обучения в здравоохранении". Мы ценим ваш интерес к нашему блогу. Для того чтобы погрузиться в уникальный контент нашего сайта, пожалуйста, выполните регистрацию или войдите в свой аккаунт, если вы уже зарегистрированы.</div>
        <div class="index-background">
            <div style="margin: 50px 0px 0px">
                <img src="{{ url_for('static', filename='images/background.svg') }}" />
            </div>
        </div>
    </div>
{% endblock content%}
